{{#if shortURL}}
<div class="d-flex justify-content-center">
  <h2>Success! Please use this link:</h2>
</div>
<div class="finalURL d-flex justify-content-center">
  <p class="text-primary" id="finalURL">{{baseURL}}/{{shortURL}}</p>
</div>
<div class="d-flex justify-content-center">
  <button tyep="submit" class="copy-url btn btn-outline-success" onclick="copyLink()">Copy</button>
</div>

<script>
  function copyLink() {
    const finalURL = document.querySelector('#finalURL')
    navigator.clipboard.writeText(finalURL.innerText)
      .then(() => alert("Copied!"))
      .catch((error) => alert(error))
  }
</script>

{{else}}
<form action="/" method="POST">
  <div class="input-group mt-5 mb-3">
    <input class="url-input form-control mt-3" type="url" name="originURL" id="originURL"
      placeholder="Enter an https:// URL here" required>
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-outline-primary" style="display:block;">Shorten</button>
  </div>
</form>
{{/if}}