<form action="/">
  <input class="url-input form-control" type="text" name="origin-url" id="origin-url" placeholder="請輸入http://開頭的網址..."
    required>
  <button class="btn btn-outline-primary" type="submit" style="display:block;">Shorten</button>
</form>